.myaccount{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(252, 254, 255, 0.6);
}

.myaccount .title{
    position: absolute;
    top: 160px;
    left: 0px;
}

.myaccount .title h1{
    position: relative;
    left: -25px;
    font-size: 36px;
    font-weight: bold;
}

.myaccount .title h2{
    position: relative;
    top: -6.65px;
    left: 90px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.userInformations{
    position: absolute;
    top: 168px;
    right: 131px;
    display: flex;
}

.userInformations .userName{
    font-family: "Marianne-Bold";
    font-size: 18px;
}

.userInformations .userEmail{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.userInformations img{
    width: 70px;
    height: 70px;
    margin-left: 30px;
}

.history{
    position: absolute;
    left: 90px;
    top: 362px;
    width: 405.89px;
    height: 600px;
    overflow: scroll;
}

.history h3{
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 48px;
}

.history div{
    height: 68px;
    border-bottom: 2px solid #000000;
    text-align: left;
    padding-left: 30px;
}

.history div .donationName{
    position: relative;
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 10px;
}

.history div .donationDescription{
    margin-top: 0;
    margin-left: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.history div .donationName::before{
    position: relative;
    right: 10px;
    bottom: 1px;
    content: '';
    display: inline-block;
    width: 6.49px;
    height: 6.49px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #DDE2ED;
 }

.rightColumn{
    position: absolute;
    top: 362px;
    left: 880.37px;
    text-align: left;
}

.newDonationInputTitle{
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.newDonationInputNumber{
    width: 172px;
    height: 37.36px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.29);
}

.newDonationInputNumber:nth-child(2){
    margin-left: 13px;
}

.newDonationInputSubmit{
    width: 172px;
    height: 31.95px;
    background: #002F75;
    color: #FFFFFF;
    margin-top: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    line-height: 31.95px;
    cursor: pointer;
}

.taxExoneration{
    margin-top: 163px;
}

.taxExonerationTitle{
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.taxExonerationNumber{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 98px;
    color: #000000;
    margin-left: 90px;
}

.taxExonerationNumber::before{
    position: relative;
    right: 47.96px;
    bottom: 22px;
    content: '';
    display: inline-block;
    width: 17.28px;
    height: 17.28px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #DDE2ED;
 }

