.donationPage{
   
    position: absolute;
    top: 4.16vw;
    width: 100%;
    background-color: rgba(224, 241, 254, 0.6);
    
}

h1{
    display: flex;
    font-size: 2.25rem;
    margin: 3rem 0 0 3rem;
}

.description{
    display: flex;
    font-size: 1.625rem;
    margin: 3rem 0 0 3rem;
}

.location{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adresse{
    font-size: 1.625rem;
}

.save_donation{
    font-size: 1.125rem;
    background-color: rgba(0, 47, 117, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0.625rem 1.688rem;
    border: none;
}

.save_donation:hover{
    background-color: rgba(55, 134, 255, 1);
}

.title_converter{
    display: flex;
    font-size: 0.938rem;
    color: rgba(75, 75, 75, 1);
    margin: 3rem 0 0 3rem;
}

.container_converter{
    display: flex;
    align-items: center;
    margin: 3rem 0 0 3rem;
}

