.donationPage{
    position: absolute;
    top: 4.16vw;
    width: 100%;
    background-color: rgba(224, 241, 254, 0.6);
    padding-bottom: 60px;
    
}

.association_name{
    width: 600px;
    text-align: start;
    font-size: 36px;
    margin: 48px 0 48px 90px;
}

.how_to_title{
    font-size: 36px;
}

.title_information{
    font-size: 26px;
    text-decoration: underline;
}

.quit{
    width: 100px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-left: 1260px;
    margin-top: 48px;
    text-decoration: none;
}

.quit:hover{
    text-decoration: underline;
}

.association_description{
    width: 700px;
    text-align: start;
    font-size: 28px;
    margin: 32px 0 32px 90px;
}

.location{
    width: 320px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 252, 255);
    border-radius: 20px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.13);
}

.adresse{
    margin-left: 10px;
    font-size: 18px;
}

.save_donation:hover, .give_donation:hover{
    background-color: rgba(55, 134, 255, 1);
}

.title_converter{
    width: 1260px;
    display: flex;
    font-size: 15px;
    color: rgba(75, 75, 75, 1);
    margin: 32px auto;
}

.container_converter{
    width: 1260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px auto;
}

.donation_button_section{
    width: 300px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 252, 255);
    border-radius: 20px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.13);
}

.give_donation{
    width: 172px;
    height: 31.95px;
    background-color: rgba(0, 47, 117, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.how_to{
    display: flex;
    align-items: center;
    width: 1260px;
    height: 512px;
    background-color: rgb(250, 252, 255);
    border-radius: 20px;
    margin: 0 auto;
    text-align: start;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.13);
}

.how_to section{
    width: 85%;
    margin: 0 auto;
}

.how_to_text{
    font-size: 15px;
}