.section_converter{
    width: 48.75rem;
    height: 16.793rem;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 252, 255);
    border-radius: 1.25rem;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.13);
}


.amount_input, .deduction_input{
    width: 19.438rem;
    height: 4.75rem;
    text-align: center;
    font-size: 2.25rem;
    margin: 2rem;
    border-radius: 0.25rem;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.29);
}

.amount_title, .deduction_title{
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(1, 74, 185);
}

.amount, .deduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


