.section_converter{
    width: 540px;
    height: 210px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(250, 252, 255);
    border-radius: 20px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.13);
}


.amount_input, .deduction_input{
    width: 172px;
    height: 37.36px;
    text-align: center;
    font-size: 15px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.29);
}

.amount_title, .deduction_title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(1, 74, 185);
}

.amount, .deduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.save_donation{
    width: 190px;
    height: 31.95px;
    font-family: 'Marianne';
    background-color: rgba(0, 47, 117, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}



