body {
  margin: 0 auto;
  font-family: 'Marianne';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Marianne-Bold";
  src: local("Marianne-Bold"),
   url("./fonts/Marianne-Bold.woff") format("woff");
  font-weight: bold;
  }
