body {
  margin: 0 auto;
  font-family: 'Marianne';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Marianne-Bold";
  src: local("Marianne-Bold"),
   url("./fonts/Marianne-Bold.woff") format("woff");
  font-weight: bold;
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');